<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Alerts -->
            <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${successMessage}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${errorMessage}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
            <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
            <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
            <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
            <a href="/ruleName/list">Rule</a>
        </div>
        <!--<div class="col-6 text-right">
            Logged in user:
            <b class="user" sec:authentication="name"></b>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>-->

        <div class="col-6 text-right">
            <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                Logged in user: <b class="user" sec:authentication="name"></b>
                <form th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout"/>
                </form>
            </th:block>
            <th:block th:unless="${#authentication.principal != 'anonymousUser'}">
                <a th:href="@{/app/login}" class="btn btn-primary">Login</a>
                or <a href="/signup">signup</a>
            </th:block>
        </div>
    </div>
</div>


    <section layout:fragment="content1">

</section>
</body>
</html>