<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.w3.org/1999/xhtml"
	  layout:decorate="template_layout_navbar">
<head>
<meta charset="utf-8"/>
<title>Home</title>
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
<div class="container">

	<div class="row"><h2>Trade List</h2></div>
	<div class="row mb-3"> <!-- Added margin-bottom for spacing -->
		<div class="col">
		<a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account</th>
					<th>Type</th>
					<th>Buy Quantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="trade : ${trades}">
					<td style="width: 10%" th:text="${trade.id}"></td>
					<td th:text="${trade.account}"></td>
					<td th:text="${trade.type}"></td>
					<td th:text="${trade.buyQuantity}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/trade/update/{id}(id=${trade.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/trade/delete/{id}(id=${trade.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>